<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title resource">GET /trackers/</div>
  </div>
  <div class="panel-body">
    Return a list of trackers' history.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title resource">GET /trackers/:id/</div>
  </div>
  <div class="panel-body">
    Return a detail of tracker's history.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title resource">GET /trackers/push/?deviceID=999<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&amp;longitude=123<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&amp;latitude=456<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&amp;altitude=789 (optional)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&amp;speedGTO=100 (optional)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&amp;satellites=1 (optional)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&amp;course=2 (optional)</div>
  </div>
  <div class="panel-body">
    Send an object to server.
  </div>
</div>
