<form ng-submit="addNewDevice()">
  <div class="form-group">
    <label class="control-label" for="id_device">Add a new device</label>
    <input class="form-control" maxlength="10" type="text" placeholder="ex: dGPS114" ng-model="newDeviceName">
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-10 small">Name</th>
      <th class="col-sm-2 text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="d in devices">
      <td>{{ d.name }}</td>
      <td class="text-center"><button class="btn btn-primary btn-xs">Edit</button> <button class="btn btn-danger btn-xs">Delete</button></td>
    </tr>
  </tbody>
</table>
